<h1 class="text-xl font-bold mb-4">Developer Links</h1>

<ul class="list-disc pl-5 space-y-2">
  <li>
    <%= link_to "WhatsApp Sessions", waha_sessions_path, class: "text-blue-600 hover:underline" %>
  </li>
  <li>
    <%= link_to "All Chats", chats_path, class: "text-blue-600 hover:underline" %>
  </li>
  <li>
    <%= link_to "WAHA Events", waha_events_path, class: "text-blue-600 hover:underline" %>
  </li>
</ul>